main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 150px;
    border-bottom: solid rgb(255, 217, 49) 3px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
    text-shadow: 3px 3px 3px rgb(29, 29, 29);
}

main section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 950px;
    max-width: 950px;
    padding-bottom: 150px;
}

main section p {
    text-align: justify;
}

main section img {
    border: solid rgb(255, 217, 49) 3px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    width: 170px;
}

.sobre-nos {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.titulo-site {
    color: rgb(255, 217, 49);
    font-weight: bold;
}

.integrante {
    background-color: rgb(34 34 34);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-width: 400px;
   max-width: 400px;
   padding-top: 20px;
   padding-bottom: 20px;
   margin: 20px;
   border-radius: 5px;
}

.integrante:hover {
    transform: scale(1.1);
}

.integrante-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    text-align: justify;
}

.integrante-descricao p {
    margin: 0;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;   
}

.titulo h1 {
    display: flex;
    text-align: center;
    min-width: 400px;
    max-width: 400px;
    margin: 0;
}

section h2 {
    color: rgb(255, 217, 49);
    text-shadow: 3px 3px 3px rgb(29, 29, 29);
}

main section button {
    outline: none;
    padding: 10px;
    font-size: large;
    background-color: rgb(255, 217, 49);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.filme {
    background-color: rgb(34 34 34);
    color: white;
    display: flex;
    border-top: solid rgb(255, 217, 49) 3px;
    border-bottom: solid rgb(255, 217, 49) 3px;
}

.descricao {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.espacamento-final {
    padding-bottom: 100px;
}