main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section {
    color: white;
    background-color: rgb(34 34 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    max-width: 600px;
    margin: 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin: 200px;
    border-radius: 5px;
}

main section h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 50px;
    min-width: 550px;
    max-width: 550px;
    color: white;
    border-bottom: solid rgb(255, 217, 49) 3px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

main section form {
    color: rgb(255, 217, 49);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.manter-logado {
    display: block;
    color: white;
}

.link {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.link a {
    text-decoration: none;
    color: rgb(255, 217, 49);
}

main section label {
    margin: 0;
}

#email {
    height: 25px;
    border-radius: 5px;
}

#senha {
    height: 25px;
    border-radius: 5px;
}

input {
    border-radius: 5px;
}

main section button {
    display: flex;
    outline: none;
    padding: 8px;
    font-size: large;
    background-color: rgb(255, 217, 49);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 50px;
    max-width: 200px;
    min-width: 200px;
    justify-content: center;
    border-radius: 5px;
}

button:hover{
    color: white;
    background-color: rgb(105, 105, 105);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#btn-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.span-required{
    font-size: 12px;
    display: none;
}