* {
    font-family: 'Wix Madefor Display', sans-serif;font-family: 'Wix Madefor Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    color: white;
}

main {
    background-color: #494949;
}

header {
    background-color: rgb(34 34 34);
    display: flex;
    justify-content: space-between;
}

header img {
    padding: 5px;
}

.nav {
    display: flex;
    align-items: center;
	height: 100%; 
}

nav ul {
    display: flex;
    align-items: center;
	height: 100%;
    margin: 0;
}

nav ul li {
    color: rgb(195 195 195);
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
    line-height: 1;
}

nav ul li:hover {
    color: rgb(255, 217, 49);
    text-decoration: underline;
}

nav ul a {
    text-decoration: none;
}

.login {
    display: flex;
    padding: 2px;
    font-weight: bolder;
    color: rgb(195 195 195);
    padding-left: 15px;
}

body > header > a {
    padding-left: 15px;
}

body > header > nav > ul > div > a:nth-child(1) {
    padding-left: 15px;
}

body > header > nav > ul > div > a:nth-child(2) {
    padding-left: 15px;
}

body > header > nav > ul > div > a:nth-child(3) {
    padding-left: 15px;
}

body > header > nav > ul > div > div > a > li > i {
    padding-right: 8px;
}

.slider {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    animation: scroll 100s linear infinite;
}

.slide-track {
    display: flex;
    height: 178px;
    width: calc(191px * 17);
    animation: scroll 90s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-191px * 17));
    }
}

footer {
    background-color: rgb(34 34 34);
    display: flex;
    justify-content: center;
}

footer section ul li {
    color:  rgb(195 195 195);
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 8px;
}

footer section ul li:hover {
    text-decoration: underline;
}

footer section ul {
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}

footer section ul h4 {
    margin-bottom: 8px;
    color:  rgb(255, 217, 49);
}

footer section ul a {
    text-decoration: none;
    color:  rgb(195 195 195);
}

.mediaicons {
    display: flex;
    align-items: center;
    padding: 0;
}