* {
    font-family: 'Wix Madefor Display', sans-serif;font-family: 'Wix Madefor Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

main {
    background-color: #494949;
    overflow-x: hidden;
}

.slider {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    animation: scroll 100s linear infinite;
}

.slide-track {
    display: flex;
    width: calc(191px * 17);
    animation: scroll 90s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-191px * 17));
    }
}

.slide {
    display: flex;
    align-items: center;
}