header {
    background-color: rgb(34 34 34);
    display: flex;
    justify-content: space-between;
}

header a {
    padding-left: 15px;
}

header img {
    padding: 5px;
}

.nav {
    display: flex;
    align-items: center;
	height: 100%; 
}

nav ul {
    display: flex;
    align-items: center;
	height: 100%;
    margin: 0;
}

nav ul li {
    color:  rgb(195 195 195);
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
}

.login {
    display: flex;
    padding: 2px;
    margin-right: 15px;
    text-decoration: underline;
    font-weight: bolder;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section {
    color: white;
    background-color: rgb(34 34 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    max-width: 600px;
    margin: 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin: 200px;
}

main section h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 50px;
    min-width: 550px;
    max-width: 550px;
    color: white;
    border-bottom: solid rgb(255, 217, 49) 3px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

main section form {
    color: rgb(255, 217, 49);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.manter-logado {
    display: block;
    color: white;
}

.link {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.link a {
    text-decoration: none;
    color: rgb(255, 217, 49);
}

main section label {
    margin: 0;
    padding-bottom: 8px;
}

main section button {
    display: flex;
    outline: none;
    padding: 8px;
    font-size: large;
    background-color: rgb(255, 217, 49);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 50px;
    max-width: 200px;
    min-width: 200px;
    justify-content: center;
}

button:hover{
    color: white;
    background-color: rgb(105, 105, 105);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#btn-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.span-required{
    font-size: 12px;
    display: none;
}

footer {
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: center;
}

footer section ul li {
    color: rgb(26, 26, 26);
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 8px;
}

footer section ul {
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}

footer section ul h4 {
    margin-bottom: 8px;
    color: rgb(26, 26, 26);
}

footer section ul a {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.mediaicons {
    display: flex;
    align-items: center;
    padding: 0;
}

