.titulo {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;
    text-shadow: 3px 3px 3px rgb(29, 29, 29);   
}

.titulo-genero {
    color: rgb(255, 217, 49);
    text-shadow: 3px 3px 3px rgb(29, 29, 29);
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 30px;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    min-width: 700px;
    max-width: 700px;
    margin: 0;
}

main section button {
    outline: none;
    padding: 10px;
    font-size: large;
    background-color: rgb(255, 217, 49);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.filme {
    background-color: rgb(34 34 34);
    color: white;
    display: flex;
    flex-direction: column;
    border-top: solid rgb(255, 217, 49) 3px;
    border-bottom: solid rgb(255, 217, 49) 3px;
}

.filme p {
    margin-top: 8px;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.filme img {
    display: flex;
    align-content: center;
    margin: 20px;
    min-width:200px;
    min-height:296px;
    max-width:200px;
    max-height:296px;
    border-radius: 5px;
}

.filme h2 {
    font-style: italic;
}

.trailer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 240px;
}

.descricao {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 15px;
}

.descricao a {
    text-decoration: none;
    color: rgb(255, 217, 49);
}

.nota {
    display: flex;
    max-height: 50px;
    min-height: 50px;
    margin-bottom: 35px;
}

.nota h4 {
    padding-right: 100px;
    margin: 0;
    font-style: italic;
}

.nota img {
    max-height: 50px;
    min-height: 50px;
    min-width: 150px;
    max-width: 150px;
    margin: 0;
}

.descricao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao2 p{
    margin: 0;
    margin-top: 20px;
}

#btnList1, #btnList2, #btnList3, #btnList4, #btnList5 {
    max-height: 80px;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
    color: white;
}

.btnAdd {
    text-decoration: none;
    background-color: transparent;
    border: none;
    background-image: url("/img/ícones/btnAdd.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.btnAdded {
    background-image: url("/img/ícones/btnAdded.svg");
    background-repeat: no-repeat;
}

.nota1 {
    display: flex;
    flex-direction: column;
}

.star-rating1 {
    background-image: url('/img/ícones/estrela1.svg');
}

.star-rating2 {
    background-image: url('/img/ícones/estrela2.svg');
}

.star-rating3 {
    background-image: url('/img/ícones/estrela3.svg');
}

.star-rating4 {
    background-image: url('/img/ícones/estrela4.svg');
}

.star-rating5 {
    background-image: url('/img/ícones/estrela5.svg');
}

.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 135px;
    height: 27px;
    overflow: hidden;
    position: relative;
    background:     url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
    margin-top: 12px;
  }

.star-rating-filme-1 {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 139px;
    height: 27px;
    overflow: hidden;
    position: relative;
    background:     url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
    margin-top: 12px;
}

  .star-rating i, .star-rating-filme-1 i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background:     url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .star-rating input, .star-rating-filme-1 input{
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }

  .star-rating input:hover + i,
  .star-rating input:checked + i,
  .star-rating-filme-1 input:hover + i,
  .star-rating-filme-1 input:checked + i {
    opacity: 1;
  }

  .star-rating i ~ i,
  .star-rating-filme-1 i ~ i {
    width: 40%;
  }

  .star-rating i ~ i ~ i,
  .star-rating-filme-1 i ~ i ~ i {
    width: 60%;
  }

  .star-rating i ~ i ~ i ~ i,
  .star-rating-filme-1 i ~ i ~ i ~ i {
    width: 80%;
  }

  .star-rating i ~ i ~ i ~ i ~ i,
  .star-rating-filme-1 i ~ i ~ i ~ i ~ i {
    width: 100%;
  }

  ::after,
  ::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }

.classificacao-streaming {
    min-width:150px;
    max-width:150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.classificacao-streaming p {
    margin-bottom: 0px;
}

.classificacao-streaming img {
    display: flex;
    align-content: center;
    min-width:20px;
    min-height:20px;
    max-width:40px;
    max-height:40px;
    border-radius:10%;
    overflow:hidden;
}

.espacamento-final {
    padding-bottom: 100px;
}