* {
    font-family: 'Wix Madefor Display', sans-serif;font-family: 'Wix Madefor Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    background-image:url(./imagens/bg-img3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: space-between;
}

header a {
    padding-left: 15px;
}

header img {
    padding: 5px;
}

.nav {
    display: flex;
    align-items: center;
	height: 100%; 
}

nav ul {
    display: flex;
    align-items: center;
	height: 100%;
    margin: 0;
}

nav ul li {
    color: black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 15px;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

main section {
    color: white;
    background-color: rgb(34 34 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 650px;
    max-width: 650px;
    margin: 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin: 200px;
}

main section h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 50px;
    min-width: 600px;
    max-width: 600px;
    color: white;
    border-bottom: solid rgb(255, 217, 49) 3px;
}

main section form {
    color: rgb(255, 217, 49);
    display: flex;
    align-items: stretch;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

textarea {
    resize: none;
  }

main section label {
    margin: 0;
    padding-bottom: 8px;
}

main section button {
    display: flex;
    outline: none;
    padding: 8px;
    font-size: large;
    background-color: rgb(255, 217, 49);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-bottom: 50px;
    max-width: 200px;
    min-width: 200px;
    justify-content: center;
}

button:hover{
    color: white;
    background-color: rgb(105, 105, 105);
    border: 0;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.btn-enviar {
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(163, 163, 163);
    display: flex;
    justify-content: center;
}

footer section ul li {
    color: black;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 8px;
}

footer section ul {
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
}

footer section ul h4 {
    margin-bottom: 8px;
}

footer section ul a {
    text-decoration: none;
    color: black;
}

.mediaicons {
    display: flex;
    align-items: center;
    padding: 0;
}